html,
body {
  font-family: Source Sans Pro, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #26CD69;
}

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

h3 {
  font-size: 32px;
  font-weight: bold;
}

h4 {
  font-size: 28px;
  font-weight: bold;
}

input, textarea {
  font-family: Source Sans Pro, sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
